:root {
    --background: rgb(240, 240, 240);
    --background-inner: rgba(255, 255, 255);
    --background-aqi: rgba(38, 255, 0);
    --background-dropdown: rgba(240, 240, 240);
    --border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.total {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: rgb(79,79,79);
}

.container {
    max-width: 800px;
    min-height: 300px;

    display: grid;

    gap: 1rem;
    padding: 1rem;

    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);

    background: var(--background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.left-top {
    display: grid;

    grid-row: 1 / 2;
    grid-column: 1 / 2;

    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);

    padding: 1rem;

    gap: 1rem;

    background: var(--background-inner);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 
    transition: transform 100ms ease-in-out;
}

.left-top:hover {
    transform: scale(1.01);
}

.left-top-bottom {
    grid-row: 2 / 3; 
    
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    gap: 0.5rem;   
}

.left-top-bottom div {
    display: flex;
    justify-content: center;
    
    gap: 0.3rem;
}

.condition {
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.4rem;

    padding: 0 2rem;
}

.temperature {
    grid-row: 1 / span 2;
    grid-column: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;

    padding: 0 1rem;
}

.dcel {
    font-size: 2rem;
}

.kmh {
    font-size: 0.7rem;
}

* {
    user-select: none;
}

.location {
    padding: 0.8rem;

    font-size: 1.6rem;

    grid-row: 1 / span 2;
    grid-column: 2 / 3;

    background: var(--background-inner);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    transition: transform 100ms ease-in-out;
}

.location:hover {
    transform: scale(1.01);
}


.left-bottom {
    display: flex;

    font-size: 1.3rem;

    background: var(--background-aqi);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    transition: transform 100ms ease-in-out;
}

.left-bottom:hover {
    transform: scale(1.01);
}

.lb-left {
    display: flex;
    flex-direction: column;

    padding: 0.8rem;

    justify-content: center;
    gap: 0.6rem;

    width: 100%;
}

.earth {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;

    padding: 0 2rem;
}

.lb-left div {
    display: flex;
    justify-content: space-between;
}

.pm2 {
    font-size: 1rem;
}

.ugm3 {
    font-size: 0.9rem;
}

.forecast {
    grid-row: 3 / 4;
    grid-column: 1 / -1;

    display: flex;

    width: 100%;
    justify-content: center;

    gap: 0.9rem;
}

.forecast-card {
    display: flex;
    flex-direction: column;

    width: 6rem;

    justify-content: center;
    align-items: center;

    padding: 1rem;

    background: var(--background-inner);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    transition: all 100ms ease-in-out;
}

.forecast-card:hover {
    transform: scale(1.04);
}

.selected {
    background: black;
    color: white;
}

.forecast-day {
    font-size: 1.3rem;
    pointer-events: none;
}

.forecast-temperature {
    font-size: 1rem;
    pointer-events: none;
}

.fdcel {
    font-size: 0.9rem;
}

.secondary {
    font-weight: 900;
    font-size: 1.5rem;
}

.main {
    font-weight: 200;
    font-size: 2rem;
}

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;    
}

.search {
    width: 40%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    height: 80%;
    font-size: 1.2rem;
    padding: 14px;
    border: none;

    color: black;

    background: var(--background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    transition: all 100ms ease-in-out;
}

input::placeholder {
    color: #00000060;
}

input:focus {
    outline: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: -10%;
    top: calc(100% + 0.3rem);

    z-index: 1;

    padding: 5px 8px;
    width: 120%;

    background: var(--background-dropdown); 
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;

    gap: 5px;

    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;

    transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}

.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item {
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    overflow-wrap: break-word;
    padding: 5px;

    border-radius: var(--border-radius);

    transition: all 150ms ease-in-out;
}

.dropdown-item:hover {
    background-color: #00000070;
    color: white;
    transform: scale(1.03);
    cursor: pointer;
}
